.app {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
}
.sidebarContainer{
    width: 25vw;
}
.appContainer {
    height: 100%;
    width: 100%;
}

.container{
    height: 92vh;
    overflow-y: scroll;
    padding: 20px;
}

